# Vscode files
.vscode

# CMake
/build/**

# log and coredump files
/data/**

# python proto interface
/py_proto/**

# temporary files
*.swp
*.swo

*.pyc
*genrule.log

# Doxygen
docs/build/
docs/xml/
